RewriteEngine On

# If file exists → serve it
RewriteCond %{REQUEST_FILENAME} !-f

# If directory exists → serve it
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise → route to index.php
RewriteRule ^ index.php [QSA,L]